<h1>Enter a New Item</h1>
<% if flash.has?(:message) %>
  <p><%= flash[:message] %> </p>
<% end %>

<div class="form-bottom">
  <form  action="/items" method="post" >

    <div class="form-group">
      <label class="sr-only" for="form-description">Description</label>
      <input type="text" name="description" placeholder="Description" class="form-username form-control" id="form-description" >
    </div>

    <div class="form-group">
      <label class="sr-only" for="form-amount">Amount</label>
      <input type="text" name="amount" placeholder="Amount" class="form-amount form-control" id="form-amount">
    </div>
    
    <div class="form-group">
      <label class="sr-only" for="date">Date</label>
      <input class="form-date" type="date" name="date"  placeholder="YYYY-MM-DD" value ="<%= Time.now.strftime('%F') %>" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Enter a date in this formart YYYY-MM-DD"/>
    </div>
    
    <div class="form-group">
      <label>List</label>
      <select name="list_name" onchange="yesnoCheck(this);">
        <% current_user.lists_sort_by_name.each do |list| %>
          <option  name="list_name"><%= list.name %></option>
        <%end%>
        <option value="new list">Create list</option>
      </select>
    </div>

    <div class="form-group" id="ifYes" style="display: none;">
      <label class="sr-only" for="list">Add New List</label>
      <input type="text" id="create list" placeholder="Add list here:" name="no_name"/>
    </div>
    <button type="submit" class="btn btn-success">Create Item</button>
  </form>

</div>