<h1>Hi, <%= current_user.username.capitalize %> your total item count is <%= current_user.total_amount %></h1>
<% if flash.has?(:message) %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <p><%= flash[:message] %> </p>
  </div>
<% end %>
<table class="table table-hover table-striped" >
  <tr class="info">
    <th><h3>Description</h3></th>
    <th><h3>Amount</h3></th>
    <th><h3>List</h3></th>
    <th><h3></h3></th>
  </tr>
</table>