<form role="form" action="/signup" method="post" class="signup-form">
  <div class="form-group">
    <label class="sr-only" for="form-username">Username</label>
    <input type="text" name="username" placeholder="Username:" class="form-username form-control" id="form-username">
  </div>

  <div class="form-group">
    <label class="sr-only" for="password">Password</label>
    <input type="password" name="password" placeholder="Password:" class="form-password form-control" id="form-password">
  </div>
    <button type="submit" class="btn">Sign Up!</button>
</form>
<form class="signup-form" action="/login" method="get">
    <button type="submit" class="btn btn-success">Log in!</button>
</form>